configs/
models/
model2/data/cornell movie/
model1/final_model.pt
model1/final_model_goemo.pt

VAD/M1/results/
VAD/M1.5/results/

EmotionLines/M0/results/
EmotionLines/M1/results/
EmotionLines/M1.5/results/

EmotionLines/M1/weighted

*.json
*.csv
*.ttf
__pycache__/
.idea/